{% extends 'admin/index.html.twig' %}

{% block title %} {{ parent() }} - Gestion des contacts {% endblock %}

{% block content %}
  
  {% if app.request.get("_route") == "create_contact" or app.request.get("_route") == "update_contact" %}
    {% if form is defined %}
    {{ form_start(form) }} 

      <div class="d-flex flex-column align-items-center justify-content-center m-3 h-50">
        <div class="form-control text-center m-1 w-25">
          {{ form_label(form.firstname) }}
          {{ form_widget(form.firstname, { 'attr': {'class': 'text-center'}}) }}        
          <div class="form-error">
              {{ form_errors(form.firstname) }}
          </div>
        </div>
        <div class="form-control text-center m-1 w-25">
          {{ form_label(form.lastname) }}
          {{ form_widget(form.lastname, { 'attr': {'class': 'text-center'}}) }}        
          <div class="form-error">
              {{ form_errors(form.lastname) }}
          </div>
        </div>
        <div class="form-control text-center m-1 w-25">
          {{ form_label(form.birthDate) }}
          {{ form_widget(form.birthDate, { 'attr': {'class': 'text-center'}}) }}        
          <div class="form-error">
              {{ form_errors(form.birthDate) }}
          </div>
        </div>
        <div class="form-control text-center m-1 w-25">
          {{ form_label(form.codeName) }}
          {{ form_widget(form.codeName, { 'attr': {'class': 'text-center'}}) }}        
          <div class="form-error">
              {{ form_errors(form.codeName) }}
          </div>
        </div>
        <div class="form-control text-center m-1 w-25">
          {{ form_label(form.country) }}
          {{ form_widget(form.country, { 'attr': {'class': 'text-center'}}) }}        
          <div class="form-error">
              {{ form_errors(form.country) }}
          </div>
        </div>

        {% if app.request.get("_route") == "create_contact" %}  

          <div class="d-flex align-items-center justify-content-around ">
            <div class="text-center m-4 ">
              <a href="/admin/select_contacts">
                <input type="button" value="Liste des contacts" class="btn btn-primary mt-2 w-auto" >
              </a>            
            </div>  
            <div class="text-center m-4 ">
              <input type="submit" value="Enregistrer" class="btn btn-success mt-2 w-auto">
            </div>
          </div>

        {% else %}

          <div class="text-center m-4 ">
            <input type="submit" value="Enregistrer la modification" class="btn btn-warning mt-2 w-auto">
          </div>
          
        {% endif %}

      </div>

    {{ form_end(form) }}
    {% endif %}
  {% else %}

    {% if contacts is empty %}

      <h5 class="text-center m-4">Aucun contact trouvé, veuillez en ajouter au moins un SVP.</h5>
      <div class="text-center m-4 ">
        <a href="/admin/contacts">
          <input type="button" value="Ajouter un contact" class="btn btn-primary mt-2 w-auto" >
        </a>            
      </div>

    {% else %}

      <div class=" d-flex flex-wrap justify-content-center">
        {% for contact in contacts %}

          <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title">Nom : {{ contact.lastname }}</h5>
              <p class="card-text">
                Prénom : {{ contact.firstname }} <br>
                Nom de code : {{ contact.codeName }} <br>
                Date de naissance : {{ contact.birthDate |date('d-m-Y') }} <br>
                Pays : {{ contact.country }} <br>
              </p>
              <a href="/admin/update_contact/{{contact.id}}" >
                <input type="button" value="Modifier" class="btn btn-warning m-3 w-auto" >
              </a>
              <a href="/admin/delete_contact/{{contact.id}}"  >
                <input type="button" value="Supprimer" class="btn btn-danger m-3 w-auto" >
              </a>
            </div>
          </div>
        {% endfor %}
        <a href="/admin/contacts">
          <input type="button" value="Ajouter un contact" class="btn btn-primary mt-2 w-auto" >
        </a>
      </div> 
        
    {% endif %}

  {% endif %}

{% endblock %}






